<!DOCTYPE html>

<!--
File Name: Module 4, Part 5
Date: 04/25/19
Programmer: Donna Quintana
-->

<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Module 4, Part 5</title>

</head>

<body>

	<h2>Part 5</h2>

	<form action="form_results.php" method="post">
		<div>
			<label for="firstname">First name:
				<br>
				<input type="text" name="firstname" id="firstname">
			</label>
		</div>

		<div>
			<label for="lastname">Last name:
				<br>
				<input type="text" name="lastname" id="lastname">
			</label>
		</div>
		
		<div>
			<label for="num">Number:
				<br>
				<input type="int" name="num" id="num">
			</label>
			
			<p>should be between 1 and 10</p>
			
		</div>

		<div>
			<input type="submit" value="Submit">
		</div>

	</form>

</body>

</html>
