/*
      Author:   Donna Quintana
      Updated:  2/19/2020
      Purpose:  CSS template
	  Client:	Ace In The Hole Multisport Events 	
/*

/* [BODY AND PAGE CONTAINER] */

/* [DESKTOP] */

main {
	display: grid;
    grid-template-columns: 65% 35%;
}

/* [HAMBURGER MENU] */

html,
body {
	padding: 0;
	font-family: arial, sans-serif;
}
.section1 {
	padding: 1px;
	margin: 5px;
}
.section2 {
	color: black;
	padding: 1px;
	margin: 5px;
}
.section1 p {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 0.8em 0;
	margin: 0 0.6em;
	font-size: 20px;
	max-width: 100%;
}
.section2 p {
    border-bottom: 1px solid black;
    padding: 0.8em 0;
}
#page-nav {
	width: 100%;
	margin-left: 1px;
	margin-top: -4.5px;
	background-color: lightgray;
}

/* [HIDE HAMBURGER - DESKTOP] */

#page-nav label,
#hamburger {
	display: none;
}

/* [NAVIGATION MENU] */

#page-nav ul {
	list-style-type: none;
	margin-left: -12px;
	padding: 1px;
	font-size: 25px;
    margin-bottom: 0;
   
}
#page-nav ul li {
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	font-weight: bold;
	margin-left: 9px;
}
#page-nav ul li a {
	text-decoration: none;
}
#page-nav li a.active {
	color: #000000;
}
#page-nav li a:hover {
	color: rgb(255, 0, 0);
}

/* [END HAMBURGER MENU] */

/* [LOGO - DESKTOP] */

img {
	padding: 0.2em;
	position: absolute;
	font-size: 2em;
	top: .50em;
	right: .5em;
	height: 2em;
	width: 2em;
}
h1 {
	color: rgb(255, 0, 0);
	font-size: 29px;
	text-align: center;
	margin: .85em .5em;
}
h2 {
	color: #000000;
	margin-left: 5px;
}
h3 {
	color: #000000;
	margin-left: -2px;
}

/* [MAIN CONTENT] */

/* [MAIN HERO IMAGE - DESKTOP SLIDESHOW - MULTIPLE IMAGES] */

.banner {
	position: relative;
	width: 100%;
	height: calc(30vh - 50px);
	background-size: cover;
	background-position: center;
	transition: all .5s ease-in-out;
	background-image: url(images/ace10.jpg);
	animation: banner 18s infinite linear;
	text-decoration: none;
 
}
.banner-content {
	margin: auto;
	padding: 10px;
	width: 50%;
	height: 25%;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content img {
	display: none;
}
.banner-content a {
	display: flex;
	text-decoration: none;
	color: white;
	background-color: rgb(255, 0, 0);
	font-size: 25px;
	font-weight: 900;
	margin-top: 60%;
	padding: 15px;
	border: 2px solid white;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}
.banner-content a:hover {
	background-color: white;
	color: black;
}
@keyframes banner {
	0% {
		background-image: url(images/ace10.jpg);
	}
	25% {
		background-image: url(images/ace10.jpg);
	}
	26% {
		background-image: url(images/ace4.jpg);
	}
	50% {
		background-image: url(images/ace4.jpg);
	}
	51% {
		background-image: url(images/ace12.jpg);
	}
	75% {
		background-image: url(images/ace12.jpg);
	}
	76% {
		background-image: url(images/ace11.jpg);
	}
	100% {
		background-image: url(images/ace11.jpg);
	}
}

/* [FOOTER - DESKTOP AND MOBILE] */

.footer {
	font-weight: bold;
	text-align: center;
}

/* [ADJUSTMENTS FOR MOBILE] */

@media only screen and (max-width: 480px) {

/* [MAIN CONTENT] */

/* [STACKED COLUMNS FOR MOBILE] */    
    
main {
     display: block;
}    
.section1 {
	max-width: 100%;
	margin: 10px;
}
.section2 {
	max-width: 100%;
	margin: 10px;
}
    
/* [ADD STICKY HEADER] */ 

header {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: -10px;
}
    
/* [LOGO - RESIZED FOR MOBILE] */

header img {
	padding: 0.2em;
	position: absolute;
	width: 100%;
	font-size: 2.5em;
	top: .2em;
	right: 4px;
	height: 1.5em;
	width: 1.5em;
}

/* [MOBILE h1 STYLING] */
	
h1 {
	color: rgb(255, 0, 0);
	font-size: 19px;
	text-align: center;
}

/* [MOBILE HAMBURGER MENU] */

/* [SHOW HAMBURBER MENU] */

/* [MOBILE - MENU ITEMS SHOWN VERTICALLY */

#page-nav {
	background-color: #FFFFFF;
	margin-top: -70px;
}

#page-nav label {
	display: inline-block;
	color: #FFFFFF;
	background: rgb(255, 0, 0);
	font-style: normal;
	font-size: 2em;
	margin: .25em;
	padding: 10px;
}
#page-nav ul li {
	display: block;
}

/* [ADDED BORDER LINES NAV] */

#page-nav ul li {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: whitesmoke;
}

/* [MOBILE - TOGGLE SHOW/HIDE MENU ON CHECKBOX CLICK] */

#page-nav ul {
	display: none;
	margin-top: -1px;
	margin-bottom: 1px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#page-nav input:checked ~ ul {
	display: block;
	text-align: left;
    z-index: 100;
}

/* [MOBILE - END HAMBURGER] */

/* [MOBILE - MAIN HERO IMAGE - SINGLE STATIC IMAGE */

.banner {
    background-color: #FFFFFF;
	height: 150px;
	margin-top: 4.75em;
    margin-left: 1px;
	animation: none;
	width: 100%;
    z-index: -100;
}

/* [MOBILE - REGISTRATION BUTTON - POSITIONING] */

.banner-content a {
	margin-top: 45%;
}
.banner-content a:hover {
    background-color: white;
    color: black;
}    
}
